*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    height: 630px;
    width: 80%;
    background-color: rgb(127, 238, 244);
    padding: 10px 60px 0px 60px;
    margin: auto;
}
.add{
    margin-top: 10px;
    padding: 10px;
     height: 100px;
     width: 100%;
     background-color: #fff;
}
.addtable{
     width: 100%;
}
.phone{
    color: red;
}
.mail{
    color: aqua;
}
.fa-location-dot{
    font-size: 2rem;
    color: red;
}
.aside{
    height: 400px;
    width: 100%;
    background-color: #e8e2e2;
    margin-top: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}
.aside1{
    height: 100%;
    width: 46%;
    background-color: #fff;
}
.table2{
    width: 100%;
}
.aside2{
    height: 100%;
    width: 46%;
    background:#fff;
}
input{
    border: 1px solid rgb(18, 17, 17);
    width: 100%;
    height: 40px;
    margin:5px 0px 20px 0px;
    padding-left: 10px;
}
button{
    height: 40px;
    width: 80px;
    margin-top: 20px;
    background-color: rgb(249, 137, 137);
    color: white;
    border-radius: 5px;
}
iframe{
    height:75%;
    width: 100%;
}
.aside2>i{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    background-color: blue;
}